@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90%;
  position: relative;
  transition: opacity 0.2s ease; /* Adiciona transição animada para a opacidade */
}

.inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.titulo-imagem {
  width: 90%; /* Ajuste a largura conforme necessário */
  max-width: 500px; /* Limita a largura máxima */
  height: auto; /* A altura será ajustada automaticamente para manter a proporção */
}

.container{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.dropzone {
  width: 200px;
  height: 200px;
  border: 2px dashed #aaa;
}

.draggable {
  width: 200px;
  height: 200px;
  background-color: #007bff;
  color: white;
  text-align: center;
  line-height: 200px;
}

/* Adiciona uma margem superior ao botão */
.inicio button {
  margin-top: 2%;
  background: transparent;
  border: transparent;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.inicio button:hover {
  transform: scale(1.1); /* Efeito de escala ao passar o mouse */
}

/* Estilo para o botão de imagem */
.inicio button img {
  width: 150px; /* Ajuste o tamanho da imagem conforme necessário */
}

/* Estilos para o vídeo */
.video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* Para colocar o vídeo atrás dos outros elementos */
}

/* Media query para ajustar o layout quando a tela for menor que 800px */
@media screen and (max-width: 800px) {
  
  .inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120%;
  }

  .container {
    align-items: center; /* Centraliza os botões na coluna */
  }

  .titulo-imagem {
    width: 60%; /* Ajuste a largura conforme necessário */
    max-width: 500px; /* Limita a largura máxima */
    height: auto; /* A altura será ajustada automaticamente para manter a proporção */
  }

  /* Estilo para o botão de imagem */
  .inicio button img {
    width: 120px; /* Ajuste o tamanho da imagem conforme necessário */
    padding: 50px;
  }
}

/* Animação para o logo */
@keyframes mover {
  0% { transform: translateY(-5px); }
  50% { transform: translateY(5px); }
  100% { transform: translateY(-5px); }
}

.titulo-imagem {
  animation: mover 2s infinite; /* Aplica a animação ao logo */
}