@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body, html {
  margin: 0;
  margin-top: -50px;
  padding: 0;
  width: 100%;
  height: 90%;
  position: relative;
  transition: opacity 0.2s ease; /* Adiciona transição animada para a opacidade */
}

/* Estilos para o vídeo */
.video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* Para colocar o vídeo atrás dos outros elementos */
}

h1 {
  background-image: url(/media/fundoSelecao.png);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 29px;
  border-radius: 10px;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: .3rem;

}

.fases {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

p {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center; /* Centraliza o texto horizontalmente */
  margin: 0; /* Remove a margem padrão */
  justify-content: center; /* Centraliza o texto verticalmente */
  align-items: center; /* Centraliza o texto verticalmente */
}


.container {
  background-image: url("/media/fundoMenu.jpg");
  border-radius: 20px;
  border-style: outset;
  border-color:rgb(157, 66, 17);
  border-width: 10px;
}

.fase {
    display: flex;
    align-items: center;
    text-align: end;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.fase button {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform 0.2s ease;
  width: 150px;
  padding: 20px;
  border-radius: 20px;
  margin: 10px; /* Margens ajustadas para centralizar verticalmente e adicionar espaço abaixo */
}

.fases button:hover {
  transform: scale(1.1);
}

.fase button img {
  width: 110%;
  padding: 50px -30px;
  border-radius: 20px;
}

.back button{
  background: transparent;
  border: transparent;
}

.back button img {
  padding: 10px 10px;
  width: 50%;
  height: auto;
  border-radius: 10px;
}



/* Media query para ajustar o layout quando a tela for menor que 800px */
@media screen and (max-width: 800px) {
  body, html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 90%;
      position: relative;
      transition: opacity 0.2s ease; /* Adiciona transição animada para a opacidade */
  }

  h1 {
      padding: 40px 90px;
      border-radius: 10px;
      font-family: "Pixelify Sans", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      letter-spacing: .3rem;
      width: 40%;
  }

  .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 20px 10px;
      border-radius: 10px;
  }

  .fase button img {
    width: 110%;
    padding: 50px -30px;
    border-radius: 20px;
  }
  
  .back button{
    background: transparent;
    border: transparent;
  }
  
  .back button img {
    padding: 10px 10px;
    width: 50%;
    height: auto;
    border-radius: 10px;
  }
}

/* Animação para o logo */
@keyframes mover {
  0% { transform: translateY(-5px); }
  50% { transform: translateY(5px); }
  100% { transform: translateY(-5px); }
}

.titulo-imagem {
  animation: mover 2s infinite; /* Aplica a animação ao logo */
}